@font-face{font-family: 'NotoSansCJKkr-Regular'; src:url('/font/NotoSansCJKkr-Regular.otf');}
@font-face{font-family: 'NotoSansCJKkr-Medium'; src:url('/font/NotoSansCJKkr-Medium.otf');}
@font-face{font-family: 'NotoSansCJKkr-Light'; src:url('/font/NotoSansCJKkr-Light.otf');}
body{
  margin : 0;
  background:#e2e2e2;
  width: 100vw;
  position: relative;
  height: 100vh;
}
input{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.title{
  font-family: 'NotoSansCJKkr-Medium';
  width: 100%;
  height: 7vh;
  background: #fff;
  text-align: center;
  line-height: 7vh;
}
.mandalTitle{
  width: 49vw;
  height: 10vh;
  margin:auto;
  margin-top: 8vh;
}
.titleIndex{
  font-weight: 400;
  width: 100%;
  height: 49%;
  font-size: 2.9vh;
  text-align: center;
  border: 0;
  border-bottom: 0.1vh solid #677e52;
  background:#e2e2e2;
  font-family: 'NotoSansCJKkr-Regular';
  color : #000;
}
.achievement{
  margin-top: 0.5vh;
  text-align: center;
  font-size: 2.1vh;
  border: 0;
  background: #e2e2e2;
  width: 100%;
  font-family: 'NotoSansCJKkr-Light'
}
::placeholder{
  color : #000;
}
.bar{
  background: #b7ca79;
  position: absolute;
  top: 90.4vh;
  width: 20%;
  height: 0.7vh;
  z-index: 100;
}
.downBtn, .writeBtn{
  position: absolute;
  width: 3vh;
  height: 3vh;
  background-color: #fff;
  border: 0;
  left: calc(95.8vw - 3.5vh);
}
.writeBtn{
  background-image: url('/img/vector_smart_object.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  top: 2vh;
}
.downBtn{
  width: 4.2vh;
  height: 4.2vh;
  top: 83.2vh;
  left: calc(95.8vw - 4.7vh);
  display: flex;
}
.downImg{
  width: 3vh;
  height: 3vh;
  margin:auto;
  background-image: url('/img/down.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: auto;
  margin-bottom: auto;
}
.mandal{
  width: 45vh;
  height: 45vh;
  margin : auto;
  margin-top: 5.5vh;
}
.mandalLine1, .mandalLine2, .mandalLine3{
  width: 100%;
  height: 13vh;
  display: flex;
}
.Box1, .Box2, .Box3{
  width: 13vh;
  height: 13vh;
  background-color: #e2e2e2;
  border: 0.2vh solid #677e52;
}
.Box4, .Box5, .Box6{
  width: 13vh;
  height: 13vh;
  background-color: #e2e2e2;
  border: 0.2vh solid #677e52;
}
.Box7, .Box8, .Box9{
  width: 13vh;
  height: 13vh;
  background-color: #e2e2e2;
  border: 0.2vh solid #677e52;
}
.Box1, .Box2, .Box4, .Box5, .Box7, .Box8{
  margin-right: 2.5vh
}
.mandalLine1, .mandalLine2{
  margin-bottom: 2.5vh;
}
.Box5{
  background-color: #b7ca79;
  border: 0.2vh solid #b7ca79;
}
